.grid-container {
    display: grid;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}
 
.table-calendar td {
    padding: 5px;
    border: 1px solid #e2e2e2;
    width: 100px;
    height: 115px;
    text-align: left;
    vertical-align: top;
}
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

.calendargrid:hover {
    background-color: rgb(255, 244, 222);
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Header styling */
#header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin: 0;
}

/* Navigation bar styling */
.navbar {
    margin: 0;
}

.nav-tabs .nav-link {
    color: #fff;
    background-color: #343a40;
    border: 1px solid transparent;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    border-color: #007bff;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px !important;
}

button:hover {
    background-color: #0056b3;
}

/* Calendar and other content styling */
.tab-content {
    padding: 20px;
}

.table-calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.weekday {
    background-color: #007bff;
    color: #fff;
}

.shadow-sm {
    background-color: #fff;
}

#eventDIV {
    margin-bottom: 20px;
}

#eventDIV h3,
#eventDIV button {
    margin: 0;
}

#schedule_today {
    margin-top: 10px;
}